pkgbase = kbt
	pkgdesc = Keyboard tester in terminal
	pkgver = ${PKGVER} 
	pkgrel = 1
	url = https://github.com/bloznelis/kbt
	arch = x86_64
	license = MIT
	makedepends = cargo
	provides = kbt
	conflicts = kbt
	source = https://github.com/bloznelis/kbt/archive/refs/tags/${PKGVER}.tar.gz
	sha256sums = SKIP

pkgname = kbt

